html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}

/*index.html*/
#big-button-start-session {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;              /* altezza             */
  width: 30%;               /* larghezza           */
  -webkit-box-shadow: 3px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    3px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         3px 7px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

#big-button-start{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;              /* altezza             */
  width: 30%;               /* larghezza           */
  -webkit-box-shadow: 3px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    3px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         3px 7px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}


#usr {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20%;              /* altezza             */
  width: 30%;               /* larghezza           */
  -webkit-box-shadow: 3px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    3px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         3px 7px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: #F5F5F5;
  font-size: 250%;
}
/*#usr {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20%;
  width: 30%;
  -webkit-box-shadow: 3px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    3px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         3px 7px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: #E8E8E8;
}*/


#wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#container-btt {
    height: 30%; /*da vedere se 50%*/
    overflow: auto;
    width: 100%;
    text-align: center;
}

#container-img {
    height: 70%;
    overflow: visible;
    width: 100%;
}

#B1, #B2, #B3, #B4 {
  font-size: 200%;
}


#my-img{
  top : 5%;
  height: 60%;
  width: : 60%;
  position:absolute;
}

#instruction{
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.button-game {
  height: 100%;              /* altezza             */
  width: 90%;               /* larghezza           */
  -webkit-box-shadow: 3px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    3px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         3px 7px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 20px;
}

#big-button-end-session {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;              /* altezza             */
  width: 50%;               /* larghezza           */
  -webkit-box-shadow: 3px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    3px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         3px 7px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

#big-button-end-nosession {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;              /* altezza             */
  width: 60%;               /* larghezza           */
  -webkit-box-shadow: 3px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    3px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         3px 7px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
